.seatBlock {
    width: 20%;

}

.seatNav {
    position: relative;
}

.seatNav > ul > li > i {
    font-size: 23px;
}

.seatDiv {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 30px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;

}
@media (max-width: 992px) {
    .seatBlock{
        width: 25%;
    }
}


@media (max-width: 767px){
    #oneHun{
        width: 100%;
    }
    .bigqi{
        margin:0 -15px;
    }
    .bigqi1{
        margin-right: -15px;
    }
    .seatBlock{
        width: 33.33333%;
    }
}
@media (min-width: 767px) {
    .bigqi {
        padding-right: 0;
        width: 34.333333%;
    }
}
.bigqi1{
    margin-left:-15px;
}
.seatDiv-fixed {
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    top: 0;
    padding: 10px 30px;
    height: 47px;
    width: 100%;
    left: 0;
}

.seatNav > ul {
    display: flex;
}

.seatNav > ul > li {
    margin-left: 37px;
    cursor: pointer;
}

.seatType {
    position: absolute;
    width: 100px;
    background: rgb(0 0 0 / 80%);
    color: white;
    z-index: 17;
    height: auto;
    display: none;
    border: solid white;
    overflow: hidden;
    left: 66px;
}

.seatType > ul > li {
    padding: 7px;
    border-bottom: solid;
    width: 100%;
    cursor: pointer;
}

.seatType > ul > li:hover {
    background: #ccc;
}

#seatOne, #seatTop, #dataSeat, #forSeat, #seatInfo {
    overflow: hidden;
    height: auto;
}

#seatOne {
    min-height: 387px;
}

#seatInfo {
    padding: 0;
}

.seatRow {
    padding: 37px;
}

.searchForm {
    position: relative;
    height: 30px;
    width: 30px;
}

.returnTop {
    display: none;
    width: 43px;
    height: 43px;
    position: fixed;
    bottom: 70px;
    right: 0;
    border: solid white;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    color: white;
    border-radius: 5px 0 0 5px;
}

.returnTop i {
    height: 43px;
    width: 43px;
    font-size: 45px;
}

.returnTop:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;

}

/*预约Form*/
.dialog-inner div form {
    color: black;
    display: flex;
    justify-content: space-evenly;
}

.dialog-inner div form h2 {
    margin-top: 20px;
    padding-bottom: 15px;
}

.clockpicker {
    margin-bottom: 7px;
    font-size: 20px;
}

.clockpicker i {
    font-size: 24px;
}

.clockpicker input {
    cursor: pointer;
    font-weight: 600;
    margin-left: 17px;
    width: 70px;
    height: 30px;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    border-radius: 5px;
    border: solid white;
}
.clockpicker input:hover{
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}
.endInput {
    color: #ffb1b1;
}

.dialog-inner div h1 {
    font-size: 33px;
    margin: 20px auto 30px auto;
}

.numSeat {
    margin-top: 23px;
    font-size: 55px;
}
.timeType{
    background: black;
    color: #ababab;
}
.butYuyue{
    border: none;
    height: 30px;
    width: 60px;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}
.butYuyue:hover{
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
}
.endDiv{
    color: black;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
/*未登录 我的信息*/
.unLoginH3{
    font-size: 23px;
    background: white;
    height: 370px;
    padding: 30px;
}
/*图片弹框*/
.picDiv{
    color: black;
}
.imgDisplay{
    width: 174px;
    height: 174px;
    border: 3px solid #dddddd;
    overflow: hidden;
    margin-right: 25px;
    float: left;
}
.imgDisplay img{
    width: 100%;
}
.imgDisplay div{
    color:#fed6e3;
}
.imgDisplay div:hover{
    animation: myRotate 3s infinite;
}
.picBut{
    color: black;
    transition: all 1s;
}
.picBut button{
    width: 83px;
    margin: 30px 0 ;

}
.picBut button:hover{

}
.picF{

}
.picF h3{
    font-size: 23px;
    margin-bottom: 30px;
}
.closePic{
    cursor: pointer;
    font-size: 37px;
    color: #333;
    position: absolute;
    right: 30px;
    top: 30px;
    transition: all 1s;
}
.closePic:hover{
    transform:rotate(360deg);
}
/*预约记录*/
.recordI{
    margin-left: 50px;
}







/*动画*/
@keyframes myRotate {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
